.createFundDiv {
  position: relative;
  background-color: #000;
  width: 100%;
  top: 100px;
  height: 850px;
  margin-left: 150px;
  overflow: hidden;
  text-align: center;
  font-size: 64px;
  color: #fed519;
  font-family: Ubuntu;
}
