.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height: 1488px;
  object-fit: cover;
}
.ellipseIcon {
  position: absolute;
  top: 3321px;
  left: 1475px;
  width: 395px;
  height: 395px;
  opacity: 0.25;
}
.bTCUSDTDiv,
.imageIconUser {
  position: absolute;
  top: 540.29px;
  left: 1722.7px;
  width: 103.78px;
  height: 82.72px;
  display: none;
}
.bTCUSDTDiv {
  top: 532.41px;
  left: 1709.73px;
  line-height: 28.27px;
  font-weight: 600;
  font-family: Inter;
  align-items: center;
  width: 120px;
  height: 47.27px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #1c1c25;
  width: 1110px;
  height: 411px;
}
.imageIconUser1,
.vectorIcon {
  position: absolute;
  top: 263.8px;
  left: 34px;
  width: 1046px;
  height: 0.4px;
}
.imageIconUser1 {
  top: 499.29px;
  left: 1619.13px;
  width: 95.87px;
  height: 82.72px;
  display: none;
}
.bTCUSDTDiv1 {
  top: 81.41px;
  left: 1210.15px;
  line-height: 28.27px;
  font-weight: 600;
  display: none;
  align-items: center;
  width: 110.85px;
  height: 47.27px;
}
.bTCUSDTDiv1,
.div,
.groupDiv1 {
  position: absolute;
}
.groupDiv1 {
  top: 0;
  left: 0;
  width: 1110px;
  height: 411px;
  font-size: 12px;
  font-family: Inter;
}
.div {
  top: 77px;
  left: 103px;
  font-size: 18px;
  line-height: 22.45px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 136px;
}
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: #282835;
  width: 330px;
  height: 83px;
}
.bitcoinDiv,
.imageIconBTC {
  position: absolute;
  top: 8px;
  left: 0;
  width: 44px;
  height: 43px;
}
.bitcoinDiv {
  top: 0;
  left: 65px;
  line-height: 28.27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 159px;
  height: 28.75px;
}
.wBTCSpan {
  color: #9191a7;
}
.wBTCTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.div1,
.wBTCDiv {
  position: absolute;
  display: flex;
  align-items: center;
}
.wBTCDiv {
  top: 0;
  left: 123px;
  line-height: 28.27px;
  text-align: right;
  width: 159px;
  height: 28.75px;
}
.div1 {
  top: 29px;
  left: 65px;
  font-size: 20px;
  line-height: 22.45px;
  font-weight: 500;
  width: 136px;
}
.groupDiv3 {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 282px;
  height: 52px;
  font-size: 16px;
}
.div2 {
  position: relative;
  line-height: 22.45px;
  font-weight: 500;
  display: inline-block;
}
.div3,
.tagPercentaceMainDiv {
  position: absolute;
  top: 40px;
  display: flex;
  align-items: center;
}
.tagPercentaceMainDiv {
  left: 250px;
  border-radius: 60px;
  background-color: rgba(145, 145, 167, 0.2);
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  justify-content: flex-end;
  color: #9191a7;
}
.div3 {
  left: 167px;
  line-height: 22.45px;
  font-weight: 500;
  color: #ef5969;
  text-align: right;
  width: 73px;
}
.groupDiv2 {
  position: absolute;
  top: 32px;
  left: 28px;
  width: 330px;
  height: 83px;
  font-size: 11px;
}
.imageIconWallet {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 47.56px;
  height: 43px;
}
.div4,
.walletDiv {
  position: absolute;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.walletDiv {
  top: 0;
  line-height: 28.27px;
  width: 159px;
  height: 28.75px;
}
.div4 {
  top: 29px;
  font-size: 20px;
  line-height: 22.45px;
  width: 136px;
}
.groupDiv4,
.groupDiv5 {
  position: absolute;
  top: 12px;
  left: 85px;
  width: 159px;
  height: 52px;
}
.groupDiv4 {
  top: 288px;
  left: 28px;
  width: 330px;
  height: 83px;
}
.div5,
.eTHDiv {
  position: absolute;
  display: flex;
  align-items: center;
}
.eTHDiv {
  top: 12px;
  left: 143px;
  line-height: 28.27px;
  width: 159px;
  height: 28.75px;
}
.div5 {
  top: 40px;
  left: 167px;
  font-size: 11px;
  line-height: 22.45px;
  font-weight: 500;
  color: #ef5969;
  width: 73px;
}
.groupDiv7 {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 224px;
  height: 52px;
  text-align: left;
}
.tagPercentaceMainDiv1 {
  position: absolute;
  top: 40px;
  left: 250px;
  border-radius: 60px;
  background-color: rgba(145, 145, 167, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  font-size: 11px;
  color: #9191a7;
}
.groupDiv6 {
  position: absolute;
  top: 32px;
  left: 388px;
  width: 330px;
  height: 83px;
  text-align: right;
}
.rectangleDiv5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #1d1d1f;
  width: 43px;
  height: 43px;
}
.image109Icon {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.groupDiv9 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 43px;
  height: 43px;
}
.curveSpan {
  color: #fff;
}
.div8,
.tagPercentaceMainDiv2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div8 {
  top: 29px;
  left: 0;
  font-size: 20px;
  line-height: 22.45px;
  font-weight: 500;
  color: #fff;
  width: 136px;
}
.tagPercentaceMainDiv2 {
  top: 40px;
  left: 259px;
  border-radius: 60px;
  background-color: rgba(145, 145, 167, 0.2);
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 11px;
}
.groupDiv8 {
  position: absolute;
  top: 32px;
  left: 748px;
  width: 330px;
  height: 83px;
  color: #9191a7;
}
.rectangleDiv7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #010023;
  width: 43px;
  height: 43px;
}
.image107Icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 23px;
  object-fit: cover;
}
.tagPercentaceMainDiv3 {
  position: absolute;
  top: 40px;
  left: 250px;
  border-radius: 60px;
  background-color: rgba(145, 145, 167, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  font-size: 11px;
  color: #9191a7;
}
.groupDiv11 {
  position: absolute;
  top: 145px;
  left: 28px;
  width: 330px;
  height: 83px;
  color: #626d7d;
}
.rectangleDiv9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #02004f;
  width: 43px;
  height: 43px;
}
.image110Icon {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.tagPercentaceMainDiv4 {
  position: absolute;
  top: 40px;
  left: 259px;
  border-radius: 60px;
  background-color: rgba(145, 145, 167, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  font-size: 11px;
  color: #9191a7;
}
.groupDiv14 {
  position: absolute;
  top: 145px;
  left: 388px;
  width: 330px;
  height: 83px;
  color: #626d7d;
}
.groupDiv,
.rectangleDiv10 {
  position: absolute;
  width: 1110px;
}
.groupDiv {
  top: 410px;
  left: 397px;
  height: 411px;
  font-size: 16px;
}
.rectangleDiv10 {
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #1c1c25;
  height: 244px;
}
.bTCUSDTDiv2,
.imageIconUser2 {
  position: absolute;
  top: 227.53px;
  left: 1617.13px;
  width: 95.87px;
  height: 71.83px;
  display: none;
}
.bTCUSDTDiv2 {
  top: 70.69px;
  left: 1210.15px;
  line-height: 28.27px;
  font-weight: 600;
  align-items: center;
  width: 110.85px;
  height: 41.05px;
}
.groupDiv18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1110px;
  height: 244px;
  font-size: 12px;
  font-family: Inter;
}
.rectangleDiv11 {
  position: absolute;
  top: 34px;
  left: 34px;
  border-radius: 15px;
  background-color: #000;
  width: 502px;
  height: 68px;
}
.ellipseIcon1 {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.openSeaFundDiv {
  position: absolute;
  top: 50px;
  left: 101px;
  font-size: 32px;
  font-weight: 500;
  display: inline-block;
  width: 265px;
  height: 38px;
}
.vectorIcon1 {
  position: absolute;
  top: 67px;
  left: 493px;
  width: 13px;
  height: 8px;
}
.shareDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.groupDiv22,
.groupIcon1,
.groupIcon2 {
  position: absolute;
  top: 0;
  left: 66px;
  width: 24px;
  height: 24px;
}
.groupDiv22,
.groupIcon2 {
  left: 0;
  width: 90px;
}
.groupIcon2 {
  top: 3px;
  left: 110px;
  width: 21px;
  height: 17.68px;
}
.groupDiv19,
.groupDiv20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 131px;
  height: 24px;
}
.groupDiv19 {
  top: 206px;
  left: 943px;
  font-size: 16px;
  color: #fb9b20;
}
.div14 {
  position: absolute;
  top: 74px;
  left: 600px;
  font-size: 28px;
  line-height: 28.27px;
  font-weight: 500;
  display: inline-block;
}
.vectorIcon2 {
  position: absolute;
  top: 87px;
  left: 790px;
  width: 269px;
  height: 52px;
}
.portfolioValueDiv {
  position: absolute;
  top: 39px;
  left: 600px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  display: inline-block;
}
.div15,
.startingValue500,
.tagPercentaceMainDiv5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.startingValue500 {
  top: 116px;
  left: 600px;
  line-height: 22.45px;
  font-weight: 500;
  width: 165px;
}
.div15,
.tagPercentaceMainDiv5 {
  top: 152px;
  color: #26ab5f;
}
.div15 {
  left: 923px;
  font-size: 13px;
  line-height: 22.45px;
  font-weight: 500;
  width: 73px;
}
.tagPercentaceMainDiv5 {
  left: 1014px;
  border-radius: 60px;
  background-color: rgba(38, 171, 95, 0.2);
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.rectangleDiv12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  background-color: #000;
  width: 39px;
  height: 29px;
}
.hDiv {
  position: absolute;
  top: 3px;
  left: 10px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.groupDiv25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 29px;
  color: #fed519;
}
.dDiv {
  position: absolute;
  top: 3px;
  left: 13px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.groupDiv26,
.groupDiv27 {
  position: absolute;
  top: 0;
  left: 49px;
  width: 39px;
  height: 29px;
}
.groupDiv27 {
  left: 98px;
}
.mDiv {
  position: absolute;
  top: 3px;
  left: 12px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.groupDiv24,
.groupDiv28 {
  position: absolute;
  top: 0;
  left: 147px;
  width: 39px;
  height: 29px;
}
.groupDiv24 {
  top: 34px;
  left: 884px;
  width: 186px;
  text-align: center;
  font-size: 10px;
}
.bMMk4gdD263q7QJt3VLWnG2x1mt9HVDiv {
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
}
.groupDiv29,
.groupIcon3,
.groupIcon4 {
  position: absolute;
  top: 0;
  left: 289px;
  width: 18px;
  height: 18px;
}
.groupDiv29,
.groupIcon4 {
  left: 329px;
}
.groupDiv29 {
  top: 155px;
  left: 34px;
  width: 347px;
  font-size: 10px;
  color: #9191a7;
}
.dataUpdated1minAgo {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22.45px;
  display: inline-block;
}
.groupDiv31,
.groupIcon5 {
  position: absolute;
  top: 2px;
  left: 131px;
  width: 18px;
  height: 18px;
}
.groupDiv31 {
  top: 152px;
  left: 600px;
  width: 149px;
  height: 23px;
  color: #9191a7;
}
.vectorIcon3 {
  position: absolute;
  top: 47px;
  left: 554.8px;
  width: 0.4px;
  height: 120px;
}
.expiryInDiv,
.investorsDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22.45px;
  font-weight: 500;
  display: inline-block;
}
.investorsDiv {
  left: 156px;
}
.tagPercentaceMainDiv6,
.tagPercentaceMainDiv7 {
  position: absolute;
  top: 0;
  left: 53px;
  border-radius: 60px;
  background-color: rgba(145, 145, 167, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.tagPercentaceMainDiv7 {
  left: 212px;
}
.groupDiv32 {
  position: absolute;
  top: 120px;
  left: 34px;
  width: 247.33px;
  height: 23px;
  color: #9191a7;
}
.groupDiv17 {
  position: absolute;
  top: 150px;
  left: 395px;
  width: 1110px;
  height: 244px;
  font-size: 11px;
}
.fundManagementPortfolio {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 1488px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Ubuntu;
}
